body {
    font-family: Arial, sans-serif;
    background-color: #2e678b; 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: #2e678b;
    margin-bottom: 20px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 15px;
}
.search-form {
    display: flex;
    gap: 10px;
}
.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
}
.search-form button, .ranking-link a {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}
.search-form button {
    background-color: #008CBA;
    color: white;
}
.search-form button:hover {
    background-color: #45a049;
}
.ranking-link a {
    background-color: #008CBA; 
    color: white;
    display: inline-block;
}
.ranking-link a:hover {
    background-color: #007bb5;
}
/*botão de voltar */
.back-link a {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #555;
    color: white;
    transition: background-color 0.3s ease;
    display: inline-block;
}
.back-link a:hover {
    background-color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
thead {
    background-color: #8d8f93;
    color: white;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #e6e6e6;
}